<h1><%= "Editar #{@file_resource.name}" %></h1>
<%= form_with model: @file_resource, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit "Editar" %>
  </div>
<% end %>
<%= link_to "Voltar", file_resources_path, class: "btn btn-secondary" %>